@font-face {
  font-family: "Kumbh Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/kumbhsans/v3/@CgwKCkt1bWJoIFNhbnMQCSAFOAE=.woff2)
    format("woff2");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 0;
}
